<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoHeader.png" />

	<title> Pasteleria Dulce Tentación </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
<!-- Header -->
		<!-- utilizo el partial header asi se comporta de la misma manera en todas las paginas -->
		<% if (user) { %>
			<%- include('./partials/headerLogueado') %>
		<% } else { %>
			<%- include('./partials/header') %>
		<% } %>
<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12"> 
				<form action="/user/profile" method="POST">
					<div>
						<label for="User:">Usuario: </label>
						<input id="email" type="email" name="" value=""> 
					</div>
					<div>
						<label for="Password:">Contraseña: </label>
						<input id="password" type="password" name="" value=""> 
					</div>
					<div>
						<label for="checkbox:">Checkbox: </label>
						<input id="checkbox" type="checkbox" name="" value="recordarme">
					</div>
					<div>
						<button type="submit">Submit</button> 
					</div>

				</div>

<!-- footer -->
	<!-- utilizo el partial footer asi se comporta de la misma manera en todas las paginas -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</html>